<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link href="/styles.css" rel="stylesheet" />
  </head>

  <body class="grey-bg">
    <% if (!user) { %> <%- include("nav.ejs") %> <% } %>
    <span></span>
    <% if (user) { %> <%- include("navi.ejs") %> <% } %>

    <div class="detail-bg">
      <h1>Welcome to Forum!</h1>
      <div class="mb">
        <p>
          <strong>Forum</strong> provides a platform for users to share ideas,
          express feelings, exchange information, and pose questions.
        </p>
        <p>
          Engage in vibrant conversations through post comments and real-time
          chat with fellow users.
        </p>
        <p>The following are user experience features:</p>
      </div>
      <div class="mt"></div>
      <div class="mb">
        <p>
          - <strong>User Authentication</strong>: Seamlessly create accounts and
          log in/out of the application.
        </p>
        <p>
          - <strong>Post Creation</strong>: Share ideas, feelings, information,
          or questions with the option to include images.
        </p>
        <p>
          - <strong>Post Control</strong>: Have full control over their posts,
          with the ability to edit or delete them.
        </p>
        <p>
          - <strong>Comments Section</strong>: Engage with other users through
          the comments section on posts.
        </p>
        <p>
          - <strong>Search Capability</strong>: Easily search for specific posts
          based on title.
        </p>
        <p>
          - <strong>Real-time Chat</strong>: Connect with other users through
          real-time chat functionality.
        </p>
        <p>
          - <strong>Profile Page</strong>: Access a personalized profile page to
          check user status.
        </p>
      </div>
      <div class="mt"></div>
    </div>
  </body>
</html>
