<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Log-In</title>
    <link href="/styles.css" rel="stylesheet" />
  </head>

  <body class="grey-bg">
    <% if (!user) { %> <%- include("nav.ejs") %> <% } %>
    <span></span>
    <% if (user) { %> <%- include("navi.ejs") %> <% } %>

    <form class="form-box" action="/login" method="post">
      <h4>Log-In</h4>
      <input name="username" placeholder="username" required />
      <input name="password" placeholder="password" type="password" required />
      <button type="submit">Log In</button>
      <hr />
      <h4>
        Don't have an account? Create it in 10 seconds!
        <a class="redirection" href="/signup">[Create an account]</a>
      </h4>
    </form>
  </body>
</html>
