<div class="nav">
  <a class="logo" href="/">Forum</a>
  <a href="/list/1">Posts</a>
  <a href="/write">Write</a>
  <a href="/mylist/1">My-Posts</a>
  <a href="/mycomment/1">My-Comments</a>
  <a href="/chat/list">My-Chat-Rooms</a>
  <a href="/profile">Profile</a>
  <a href="/logout">Log-Out</a>
</div>
