<div class="nav">
  <a class="logo" href="/">Forum</a>
  <a href="/list/1">List</a>
  <a href="/mylist/1">My-List</a>
  <a href="/mycomment/1">My-Comments</a>
  <a href="/write">Write</a>
  <a href="/profile">Profile</a>
  <a href="/logout">Log-Out</a>
</div>
