<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Write</title>
    <link href="/styles.css" rel="stylesheet" />
  </head>

  <body class="grey-bg">
    <% if (!user) { %> <%- include("nav.ejs") %> <% } %>
    <span></span>
    <% if (user) { %> <%- include("navi.ejs") %> <% } %>

    <form
      class="form-box"
      action="/write/post"
      method="post"
      enctype="multipart/form-data"
    >
      <h4>Write</h4>
      <input name="title" placeholder="title" />
      <input name="content" placeholder="content" />
      <input type="file" name="img1" accept="image/*" multiple />
      <button type="submit">Post</button>
    </form>
  </body>
</html>
